<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Guess The Flag</title>
    <link rel="stylesheet" href="css/style.css">
    <script src="js/scripts.js"></script>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');
    </style>
</head>
<body>
    <div id="title">
        <h1>Guess The Flag</h1>
        <p>Game</p>
    </div>

    
    <div id="board-container">
        <div id="board">
            <button id="europe" class="board-btn">Europe</button>
            <button id="africa" class="board-btn">Africa</button>
            <button id="asia" class="board-btn">Asia</button>
            <button id="global" class="board-btn">Global</button>
        </div>
    </div>

    <footer>Made by Gabriel Kozaczuk ~ 2023</footer>
</body>
</html>