html{
    height: 100%;
}

body{
    display: flex;
    flex-direction: column;
    font-family:'Times New Roman', Times, serif;
    margin: 0;
    height: 100%;
}

/* styles for title section */

#title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0 6rem;
    height: 8rem;
    background: linear-gradient(to right top, #e66465, #9198e5 ) ;
    color: azure;
    box-shadow: 0 6px 15px 0 black;
}

#title h1{
    font-size: 60px;
    font-family: 'Amatic SC', sans-serif;
    margin: 0;
    -webkit-text-stroke-width: 1px ;
    -webkit-text-stroke-color: black;
}

#title p{
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 300;
    margin: 0;
    color: black;
}

/* styles for board section */

#board-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    padding: 5rem;
}

#board{
    display: grid;
    grid-template-columns: repeat(2, minmax(3rem, 20rem));
    grid-template-rows:  repeat(2, 1fr) ;
    gap: 4rem;
    height: 100%;
    width: 100%;
    justify-content: center;
}

.board-btn{
    font-size: 4vw;
    font-family: 'Amatic SC' ,fantasy;
    font-weight: 700;
    border: 2px solid black;
    border-radius: 12px;
    opacity: 0.85;
}

.board-btn:hover{
    opacity: 1;
    box-shadow: 8px 8px 18px 4px black;
    transition-duration: 0.2s;
    cursor: pointer;
}

#europe{
    background: linear-gradient(to bottom, rgba(6, 63, 250, 0.979), rgba(199, 172, 21, 0.877));
}

#africa{
    background: linear-gradient(to bottom, green,yellow, red,rgba(71, 48, 21, 0.384));
    -webkit-text-stroke-color: white;
    -webkit-text-stroke-width: 1px;
}

#asia{
    background-color: red;
    -webkit-text-stroke-color: gold;
    -webkit-text-stroke-width: 1px;
}

#global{
    border-radius: 100%;
    background: radial-gradient(rgb(30, 182, 30)30%, rgb(14, 86, 153)60%);
    -webkit-text-stroke-color: rgb(97, 68, 28);
    -webkit-text-stroke-width: 1px;
}

/* styles for footer section */

footer{
    width: 100%;
    text-align: end;
    font-style: italic;
    background:linear-gradient(to right, rgb(202, 102, 56), rgb(138, 121, 214));
    box-shadow: 0 -3px 15px 0 black;
}