<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Guess The Flag</title>
    <link rel="stylesheet" href="css/style.css">
    <script src="js/global_scripts.js" defer></script>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');
    </style>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>
<body>
    <div id="top">
        <div id="title">
            <h1>Guess The Flag</h1>
            <p>Game</p>
        </div>
        <button id="info" class="material-symbols-outlined">
            <span class="info_text"><h1>RULES:</h1>
                <p>1. Choose preferred pool of countries <br>
                2. Click the name of the shown flag <br>
                3. If you pick wrong one, game will restart</p>
            </span>
            <span >info</span>
        </button>
    </div>

    <h1 id="score">Score : <span id="score-number">0</span></h1>
    
    <div id="board-container">
        <div id="flag">
                
        </div>
        
        <div id="board">
            <button id="choice1" class="board-btn"></button>
            <button id="choice2" class="board-btn"></button>
            <button id="choice3" class="board-btn"></button>
            <button id="choice4" class="board-btn"></button>
        </div>
    </div>

    <footer>Made by Gabriel Kozaczuk ~ 2023</footer>
</body>
</html>